@font-face {
    font-family: IndieFlower;
    src: url(../fonts/IndieFlower.ttf);
}
.booking-head {
    width: 100%;
    text-align: center;
}
.booking-head img {
    width: 100%;
    height: auto;
    max-width: 1300px;
}
.hall {
    width: 100%;
   // border: 1px dashed black;
    font-family: IndieFlower;

}
.hall h2 {
    text-align: center;
    font-size: 40px;
    font-size: 3vw;
}
.tables {
    width: 100%;
}
.tables div {
    text-align: center;
    width: 30%;
}
.tables div img{
    width: 100%;
    height: 200px;
}
#table1 {
    float: left;
}
#table2 {
    float: left;
    margin-left: 35%;
}
#table3 {
    margin-left: 33%;
}
#table4 {
    float: left;
}
#table5 {
    //float: left;
    margin-left: 65%;
}
#bar {
    width: 30%;
    text-align: center;
    margin-left: 33%;
}
#bar img {
    height: 200px;
}
.door {
    margin-left: 0%;
    text-align: center;
    float: left;
    width: 100px;
}
.door img {
    height: 100px;
    width: 100%;
}
.restroom {
    margin-right: 0;
    float: right;
    width: 200px;
}
.restroom img {
    width: 50%;
    height: 100px;
    float: right;
}
.restroom h4{
    float: left;
}
.table p{
    color: #ff0000;
    font-size: 30px;
    font-size: 3.5vw;
    font-weight: bold;
    margin: 0;
    display: none;
}
.ordered p{
    display: block;
}
#order {
    display: none;
}
.order-fields {
    width: 100%;
    display: block;
    font-family: IndieFlower;
    font-size: 20px;
    font-size: 2.5vw;
    margin-top: 10%;
}
.order-fields button {
    float: right;
    height: 100%;
    background-color: brown;
    border: 1px solid brown;
    font-size: 20px;
    font-size: 2.5vw;
    font-family: IndieFlower;
    margin-right: 40%;
}
.order-fields button:hover{
    font-size: 110%;
    background-color: red;
    border: 1px dotted brown;
}
.order-fields input {
    font-size: 20px;
    font-size: 2.5vw;
    font-family: IndieFlower;
    width: 10%;
    border: none;
    margin-right: 0;
}
@media only screen and (max-width: 1000px){
    .hall {
        width: 1000px;
    }
}