@font-face {
    font-family: IndieFlower;
    src: url(../fonts/IndieFlower.ttf);
}


.content {
    width: 100%;
    position: relative;
}
.content img {
    width: 100%;
}
#scroll {
    width: 5%;
    height: 100px;
    position: fixed;
    border: none;
    background: none;
    display: none;

}
#scroll img {
    width:100%;
}
.text-inside-dish {
    width: 30%;
    position: absolute;
    top: 30%;
    left: 25%;
    font-family: IndieFlower;
    font-size: 30px;
    font-size: 2.5vw;
}
.text-inside-dish p{
    /*font-family: IndieFlower;
    font-size: 30px;
    font-size: 2.5vw;*/
}
.text-inside-dish ul {
    list-style: square;
    display: block;
}
.text-inside-dish ul a{
    text-decoration: none;
    color: #000;
}
.text-inside-dish ul a:hover{
    font-size: 110%;
    background-color: #eeeeee;
    border: 1px dotted black;
}